name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build executable
        run: python -m PyInstaller build.spec --noconfirm

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/shokaX plugin.exe
          generate_release_notes: true
